@model List<DairyEntry>
<div class="container">
    <div class="row pt-4"></div>
    <div class="col-6">
        <a class="btn btn-primary" asp-controller="DairyEntries" asp-action="Create">New Entry</a>
    </div>
    <div class="col-6">
        <h2>DairyEntry</h2>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Title</td>
                    <td>@entry.Content</td>
                    <td>@entry.Created.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-controller="DairyEntries" asp-route-id="@entry.Id" asp-action="Edit">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-controller="DairyEntries" asp-route-id="@entry.Id" asp-action="Delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>